.hc-header {
    padding: 0 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    border-bottom: 2px solid black;
    gap: 16px;

    .icon:hover {
        cursor: pointer;
        background-color: rgba(151, 77, 255, 0.279);
        border-radius: 8px;
    }
}