.hc-change-password {
    min-height: calc(100% - 50px);
    display: flex;
    flex-direction: column;

    .change-password-form {
        width: 85%;
        margin: 0 auto;
        padding: 16px;
        display: flex;
        flex-direction: column;

        button {
            margin-top: 16px;
        }
    }
}